<header class="d-flex justify-content-between px-4 align-items-center">
    <div class="left">
        <i class="fa fa-bars"></i>
    </div>
    <div class="center">
        <h1>Demo Angular</h1>
    </div>
    <div class="right">
        <i class="fa fa-user-plus mr-3"></i>
        <i class="fa fa-sign-in"></i>
    </div>
</header>
