<p>{{ compt }}</p>

<button [disabled]="compt == 9" class="btn btn-outline-danger"
        (click)="incrase()">Increase</button>

<button [disabled]="compt == 0" class="btn btn-outline-success"
        (click)="decrease()">Decrease</button>
