<div class="d-flex">
    <ul *ngIf="model">
        <li *ngFor="let item of model.results" (click)="search(item.url)">
            {{ item.name }}
        </li>
    </ul>
    <div>
        <app-demo3-details [model]="details"></app-demo3-details>
    </div>
</div>
