.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    nav {
        width: 300px;
        border-right: 1px solid black;
        min-height: calc(100vh - 125px);
    }

    section {
        flex: 1;
        background-color: #ccc;
        padding: 20px;
    }
}

