<div class="main-container">
  <app-header></app-header>
  <main>
    <nav>
      <app-nav></app-nav>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
  <app-footer></app-footer>
</div>
