<ul class="list-group">
    <li class="list-group-item" routerLinkActive="active">
        <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
        <a routerLink="/about"><i class="fa fa-star"></i> About</a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
        <a routerLink="/demo/demo1"><i class="fa fa-book"></i> Demo1</a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
        <a routerLink="/demo/demo2"><i class="fa fa-book"></i> Demo2</a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
        <a routerLink="/demo/demo3"><i class="fa fa-book"></i> Demo3</a>
    </li>
</ul>
