<h3>Strings</h3>
<p>string (raw) : {{ someString }}</p>
<p>string (lower) : {{ someString | lowercase }}</p>
<p>string (upper) : {{ someString | uppercase }}</p>
<p>string (title) : {{ someString | titlecase }}</p>

<h3>Numbers</h3>
<p>number (raw) : {{ someNumber }}</p>
<!-- x.y-z -->
<p>number (formated) : {{ someNumber | number : '0.2-2' }}</p>
<p>number (currency) : {{ someNumber | currency }}</p>

<h3>Dates</h3>
<p>Date (raw) : {{ someDate }}</p>
<p>Date (formated) : {{ someDate | date : 'dd MMMM yyyy' }}</p>

<h3>Boolean</h3>
<p>Bool (raw) : {{ someBoolean }}</p>
<p>Bool (ternary) : {{ someBoolean ? 'OK' : 'KO' }}</p>